

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Decision-making portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Slog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.css"%}">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{% static "css/style.css"%}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static "css/portfolio.css"%}">
    <link rel="stylesheet" href="{% static "css/aos.css"%}">
    <link href="{% static "css/aos-animation.css"%}" rel='stylesheet prefetch' type="text/css" media="all" />

    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static "css/font-awesome.css"%}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700i" rel="stylesheet">
    <!-- //Fonts -->

</head>

<body>
    <!-- mian-content -->
    <div class="main-content" id="home">
        <!-- header -->
        <header class="py-1">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                       <!-- <ul class="navbar-nav ml-4 m-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="about.html"> <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  More info <i class="fa fa-angle-down" aria-hidden="true"></i>
					</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="features.html">Features</a>
                                    <a class="dropdown-item" href="blogs.html">Blogs</a>
                                    <a class="dropdown-item" href="features.html">Services</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Dropdown <i class="fa fa-angle-down" aria-hidden="true"></i>
					</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="gallery.html">Gallery</a>
                                    <a class="dropdown-item" href="about.html">About Us</a>
                                    <a class="dropdown-item" href="single.html">Single</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                        <div class="header-right">
                            <a href="signin.html" class="signin mr-4"> Sign in <i class="fas fa-sign-in-alt"></i></a>
                            <a href="register.html" class="contact">Get Started</a>
                        </div> -->
                    </div>
                </nav>
            </div>
        </header>
        <!-- //header -->
        <!-- banner-w3layouts -->
        <section class="banner-w3layouts">
            <div class="container">
                <div class="row banner-w3layouts-grids">
                    <div class="col-lg-6 banner-w3layouts-info">
                        <h6 data-aos="fade-up"><b> Applied Linguistics and English Language Teaching</b></h6>
                        </h6>
                        <h3 class="mb-3" data-aos="fade-up">Decision-making portal </h3>
                        <h4 class="mb-3" data-aos="fade-up">Student classification</h4>
                        <p class="mb-4" data-aos="fade-up"> Implementing a decision-making tool to predict student success by developing classification models.</p>
                        <a href="{% static "files/classification des etudiants-HAMDOUCHI-ZOUHRI.pdf" %}"class="btn">PDF Brochure </a>
                    </div>
                    <div class="col-lg-6 banner-w3layouts-image">
                        <div class="effect-w3">
                            <img src="{% static "images/fse2.jpg" %}"alt="" class="img-fluid image1">
                            <img src="{% static "images/fse2.jpg" %}"alt="" class="img-fluid image2">
                            <img src="{% static "images/fse2.jpg" %}"alt="" class="img-fluid image3">
                            <img src="{% static "images/fse2.jpg" %}"alt="" class="img-fluid image4">
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- //banner-w3layouts -->
    </div>
    <!--/ab -->
    <section class="about py-lg-5 py-md-5 py-3">
        <div class="container">
            <div class="inner-sec-wthree py-lg-5 py-3">
                <h3 class="tittle text-uppercase text-center mb-lg-5 mb-3"><span class="sub-tittle">Algorithms</span>algorithms implementation </h3>
                <div class="feature-grids row mb-lg-5 mb-3">
                     <div class="col-lg-4 p-0" data-aos="fade-up">
                        <div class="bottom-gd p-5">

                            <a href="/cart">

                                <h3 class="my-3"> <span class="fa fa-crosshairs" aria-hidden="true"></span> CART</h3>
                                <p>A(Classification And Regression Trees) est un algorithme de la construction des arbres de décision qui sert pour la régrission ou bien la classification,
                                </p>
                            </a>
                        </div>

                    </div> 
                     <div class="col-lg-4 p-0" data-aos="fade-up">
                         <!--<div class="bottom-gd p-5">
                           <a href="/svm">

                            <h3 class="my-3"> <span class="fa fa-crosshairs" aria-hidden="true"></span> SVM </h3>
                            <p>(support vector machine, SVM)  un ensemble de techniques d'apprentissage supervisé.
                                Les SVM sont une généralisation des classifieurs linéaires.</p></a>
                        </div>-->
                    </div>
                    <div class="col-lg-4 p-0" data-aos="fade-up">
                        <div class="bottom-gd p-5">
                            <a href="/knn">

                            <h3 class="my-3"> <span class="fa fa-crosshairs" aria-hidden="true"></span> KNN</h3>
                            <p>est un algorithme qui ne génére pas un modèle. Il recherche le cas le plus proche et prendre la même décision . ou bien une combainison de K classe</p>
                            </a>
                        </div>
                    </div>

                </div>
                 <div class="feature-grids row mb-lg-5 mb-3">
                     <div class="col-lg-4 " ></div>

                   <!--  <div class="col-lg-4 p-0" data-aos="fade-up">
                        <div class="bottom-gd p-5">
                            <a href="/mlp">
                                <h3 class="my-3"> <span class="fa fa-crosshairs" aria-hidden="true"></span> MLP</h3>
                                <p>Les réseaux de neurones regroupent certains modèles dont l’intention est d’imiter certaines des fonctions du
                                    cerveau humain en reproduisant certaines de ses structures de base.</p>
                            </a>
                        </div>
                    </div> -->


                </div>
                <!-- services -->
                <div class="fetured-info pt-lg-5">
                    <h3 class="tittle text-uppercase text-center my-lg-5 my-3"><span class="sub-tittle"> Project implementation </span> TECHNOLOGIES USED</h3>
                    <div class="row fetured-sec mt-lg-5">

                        <div class="col-lg-6 serv_bottom">
                            <div class="featured-left text-center">
                                <div class="bottom-gd fea p-5 my-3" data-aos="fade-left">
                                    <span class="fa fa-lightbulb-o" aria-hidden="true"></span>
                                    <h3 class="my-3 text-uppercase">Modeling and evaluation (Machine Learning)</h3>
                                    <p class="px-lg-3">In project implementation, Python language along with its various Machine Learning libraries was utilized.</p>
                                </div>
                                <div class="bottom-gd fea active p-5" data-aos="fade-left">
                                    <span class="fa fa-laptop" aria-hidden="true"></span>
                                    <h3 class="my-3 text-uppercase">Web Development</h3>
                                    <p class="px-lg-3"> The web application was developed using Python for the back end, specifically Django, and React JS for the front end. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 p-0">
                            <img src="{% static "images/img1.jpg" %}"class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <!-- //services -->
            </div>
        </div>
    </section>
    <!-- //ab -->
    <!--/counter-->
    <section class="stats py-lg-5 py-4">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <div class="counter">
                        <h3 class="timer count-title count-number" data-to="69" data-speed="100">%</h3>
                        <p class="count-text ">Best Accuracy</p>
                    </div>
                </div>
                <div class="col">
                    <div class="counter">
                        <h3 class="timer count-title count-number" data-to="84" data-speed="100"></h3>
                        <p class="count-text ">Best precision</p>
                    </div>
                </div>
                <div class="col">
                    <div class="counter">
                        <h3 class="timer count-title count-number" data-to="73" data-speed="100"></h3>
                        <p class="count-text ">Best AUC</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--//counter-->
    <!--//team -->
    <section class="banner-w3layouts-bottom py-lg-5 py-4">
        <div class="container">
            <div class="inner-sec-wthree py-lg-5 py-4 speak">
                <h3 class="tittle text-uppercase text-center my-lg-5 my-3"><span class="sub-tittle">Project team</span> Our team </h3>
                <div class="row mt-lg-5 mt-4 justify-content-center">
                    <div class="col-md-4 team-gd text-center" data-aos="fade-right">
                        <div class="team-img mb-4">
                            <img src="{% static "images/fati.jpg" %}" class="img-fluid rounded-circle" alt="user-image">
                        </div>
                        <div class="team-info">
                            <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Team member</span> Fatima zahrae AOUANE</h3>
                            <p>Student in Applied Linguistics & ELT </p>
                            <ul class="social_section_1info mt-md-4 mt-3">
                                <li class="google"><a href="#"><i class="fa fa-google-plus mr-1"></i>google</a></li>
                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin mr-1"></i>linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                
                    <div class="col-md-4 team-gd second text-center">
                        <div class="team-img mb-4">
                                <img src="{% static "images/team.jpg" %}" class="img-fluid rounded-circle" alt="user-image">
                        </div>
                        <div class="team-info">
                            <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Supervisor</span> Pr. Salmane Tarik El ALLAMI</h3>
                            <p>Professor at INPT--Data Science</p>
                            <ul class="social_section_1info mt-md-4 mt-3">
                                <li class="google"><a href="#"><i class="fa fa-google-plus mr-1"></i>google</a></li>
                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin mr-1"></i>linkedin</a></li>
                            </ul>
                        </div>
                    
                    <!--<div class="col-md-4 team-gd text-center" data-aos="fade-left">
                        <div class="team-img mb-4">
                        </div> 
                        <div class="team-info">
                            <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Membre d'équipe</span>Youness BENABDESSALAM</h3>
                            <p>Etudiant SUD-Cloud</p>
                             <ul class="social_section_1info mt-md-4 mt-3">
                                <li class="google"><a href="#"><i class="fa fa-google-plus mr-1"></i>google</a></li>
                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin mr-1"></i>linkedin</a></li>
                            </ul>
                        </div>
                    </div>-->
                   <!-- <div class="col-md-4 team-gd text-center" data-aos="fade-left">
                        <div class="team-img mb-4">
                        </div>
                     <div class="team-info">
                            <h3 class="mt-md-4 mt-3"><span class="sub-tittle-team">Membre d'équipe</span>Yassine AMRAOUI</h3>
                            <p>Etudiant SUD-Cloud</p>
                             <ul class="social_section_1info mt-md-4 mt-3">
                                <li class="google"><a href="#"><i class="fa fa-google-plus mr-1"></i>google</a></li>
                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin mr-1"></i>linkedin</a></li>
                            </ul>
                        </div>
                    </div>-->
                </div>


            </div>
        </div>
    </section>
    <!--//team -->
    <!-- middle section -->
    <div class="middle-tem-insidel pt-lg-5">
        <div class="progress-info">

            <div class="right-side-img-tem-inside">

            </div>
            <div class="left-build-main-temps">
                <h3 class="tittle text-uppercase text-left my-lg-5 my-3"><span class="sub-tittle">The best algorithm in terms of score</span>Decision Tree Algorithm (CART)</h3>
                <div class="progress-one my-lg-5" data-aos="fade-up">
                    <h4 class="progress-tittle">Accuracy (69%)</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 73%" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-one" data-aos="fade-up">
                    <h4 class="progress-tittle">AUC(73%)</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 76%" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-one my-lg-5" data-aos="fade-up">
                    <h4 class="progress-tittle">Précision(84%)</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--//middle section -->
    <!-- portfolio -->
   <!-- <section class="portfolio-flyer pt-5 pb-5" id="gallery">
        <div class="container py-lg-5">
            <h3 class="tittle text-uppercase text-center my-lg-5 my-3"><span class="sub-tittle"> Recent Works </span>Stunning Projects</h3>
            <div class="row mt-lg-4 mt-3">
                <ul class="nav nav-pills mt-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="showall-tab" data-toggle="pill" href="#showall" role="tab" aria-controls="showall" aria-selected="true">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="categorys-tab" data-toggle="pill" href="#categorys" role="tab" aria-controls="categorys" aria-selected="false">Tab 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Tab2-Image-tab" data-toggle="pill" href="#Tab2-Image" role="tab" aria-controls="Tab2-Image" aria-selected="false">Tab 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Tab3-Image-tab" data-toggle="pill" href="#Tab3-Image" role="tab" aria-controls="Tab3-Image" aria-selected="false">Tab 3</a>
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="showall" role="tabpanel" aria-labelledby="showall-tab">
                        <div class="portfolio" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter5" data-image="images/n1.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n1.jpg" %}" alt="Slog" />
                            </a>
                        </div>
                        <div class="portfolio" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter6" data-image="images/n1.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n2.jpg" %}" alt="Slog" />
                            </a>
                        </div>
                        <div class="portfolio lost" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter7" data-image="images/n3.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n3.jpg" %}" alt="Slog" />
                            </a>
                        </div>
                        <div class="portfolio" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter8" data-image="images/n4.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n4.jpg" %}" alt="Slog" />
                            </a>
                        </div>
                        <div class="portfolio" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter9" data-image="images/n9.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n9.jpg" %}" alt="Slog" />
                            </a>

                        </div>
                        <div class="portfolio lost" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter10" data-image="images/n5.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n5.jpg" %}" alt="Slog" />
                            </a>
                        </div>
                        <div class="portfolio" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter11" data-image="images/g7s.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n7.jpg" %}" alt="Slog" />
                            </a>

                        </div>
                        <div class="portfolio" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter12" data-image="images/n8.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n8.jpg" %}" alt="Slog" />
                            </a>

                        </div>
                        <div class="portfolio lost" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter13" data-image="images/n6.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n6.jpg" %}" alt="Slog" />
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="categorys" role="tabpanel" aria-labelledby="categorys-tab">
                        <div class="portfolio" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter6" data-image="images/n1.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n2.jpg" %}" alt="Slog" />
                            </a>

                        </div>
                        <div class="portfolio" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter7" data-image="images/n3.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n3.jpg" %}" alt="Slog" />
                            </a>

                        </div>
                        <div class="portfolio" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter8" data-image="images/n4.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n4.jpg" %}" alt="Slog" />
                            </a>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="Tab3-Image" role="tabpanel" aria-labelledby="Tab3-Image-tab">
                        <div class="portfolio" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter9" data-image="images/n9.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n9.jpg" %}" alt="Slog" />
                            </a>

                        </div>
                        <div class="portfolio" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter11" data-image="images/g7s.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n7.jpg" %}" alt="Slog" />
                            </a>
                        </div>
                        <div class="portfolio" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter12" data-image="images/n8.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n8.jpg" %}" alt="Slog" />
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Tab2-Image" role="tabpanel" aria-labelledby="Tab2-Image-tab">
                        <div class="portfolio" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter9" data-image="images/n9.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n9.jpg" %}" alt="Slog" />
                            </a>

                        </div>
                        <div class="portfolio" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter6" data-image="images/n1.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n2.jpg" %}" alt="Slog" />
                            </a>

                        </div>
                        <div class="portfolio" data-aos="zoom-in">
                            <a class="thumbnail" href="#" data-toggle="modal" data-target="#exampleModalCenter7" data-image="images/n3.jpg" data-target="#image-gallery">
                                    <img class="categoryd-img img-fluid" src="{% static "images/n3.jpg" %}" alt="Slog" />
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- //portfolio -->
    <!--/model-->
    <div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login px-4 mx-auto mw-100 gal-img pb-3">
                        <img class="img-fluid col-md-12" src="{% static "images/n1.jpg" %}" alt="Slog">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-3">
                    <div class="login px-4 mx-auto mw-100 gal-img pb-3">
                        <img class="img-fluid col-md-12" src="{% static "images/n2.jpg" %}" alt="Slog">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-3">
                    <div class="login px-4 mx-auto mw-100 gal-img pb-3">
                        <img class="img-fluid col-md-12" src="{% static "images/n3.jpg" %}" alt="Slog">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-3">
                    <div class="login px-4 mx-auto mw-100 gal-img pb-3">
                        <img class="img-fluid col-md-12" src="{% static "images/n4.jpg" %}" alt="Slog">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter9" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-3">
                    <div class="login px-4 mx-auto mw-100 gal-img pb-3">
                        <img class="img-fluid col-md-12" src="{% static "images/n9.jpg" %}" alt="Slog">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter10" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-3">
                    <div class="login px-4 mx-auto mw-100 gal-img pb-3">
                        <img class="img-fluid col-md-12" src="{% static "images/n5.jpg" %}" alt="Slog">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModalCenter11" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-3">
                    <div class="login px-4 mx-auto mw-100 gal-img pb-3">
                        <img class="img-fluid col-md-12" src="{% static "images/n7.jpg" %}" alt="Slog">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter12" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-3">
                    <div class="login px-4 mx-auto mw-100 gal-img pb-3">
                        <img class="img-fluid col-md-12" src="{% static "images/n8.jpg" %}" alt="Slog">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter13" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-3">
                    <div class="login px-4 mx-auto mw-100 gal-img pb-3">
                        <img class="img-fluid col-md-12" src="{% static "images/n6.jpg" %}" alt="Slog">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//model-->

    <!--//portfolio-->

    <!-- /hand-crafted -->
    <section class="hand-crafted py-4">
        <div class="container py-xl-5 py-lg-3">
            <div class="row banner-w3layouts-grids">
                <div class="col-lg-6 banner-w3layouts-image">
                    <div class="effect-w3">
                        <img src="{% static "images/img2.jpg" %}" alt="" class="img-fluid image1">
                        <img src="{% static "images/img2.jpg" %}" alt="" class="img-fluid image2">
                        <img src="{% static "images/img2.jpg" %}" alt="" class="img-fluid image3">
                        <img src="{% static "images/img2.jpg" %}" alt="" class="img-fluid image4">
                    </div>

                </div>
                <div class="col-lg-6 banner-w3layouts-info pl-md-5">

                    <h3 class="mb-3" data-aos="fade-up">Presentation</h3>
                    <p class="mb-4" data-aos="fade-up"> This PPT presentation summarizes all the stages of the student classification project. </p>
                    <a href="{% static "files/presentation.pptx" %}" class="btn">PPT Presentation </a>
                </div>
            </div>
        </div>
    </section>
    <!-- //hand-crafted -->

    <div class="cpy-right text-center py-3">
        <p class="copy-w3layouts">© 2024 Developed by AOUANE Fatimazahrae-FSE-Applied Linguistics and English Language Teaching
        </p>
    </div>

    <!--model-forms-->
    <!--/Login-->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-left mb-4">Login Now</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label class="mb-2">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                            </div>
                            <div class="form-check mb-2">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <button type="submit" class="btn btn-primary submit mb-4">Sign In</button>
                            <p class="text-left pb-4">
                                <a href="#" data-toggle="modal" data-target="#exampleModalCenter2"> Don't have an account?</a>
                            </p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Login-->
    <!--/Register-->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login px-4 mx-auto mw-100">
                        <h5 class="text-left mb-4">Register Now</h5>
                        <form action="#" method="post">
                            <div class="form-group">
                                <label>First name</label>

                                <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Last name</label>
                                <input type="text" class="form-control" id="validationDefault02" placeholder="" required="">
                            </div>

                            <div class="form-group">
                                <label class="mb-2">Password</label>
                                <input type="password" class="form-control" id="password1" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" id="password2" placeholder="" required="">
                            </div>

                            <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                            <p class="text-left pb-4">
                                <a href="#">By clicking Register, I agree to your terms</a>
                            </p>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//Register-->
    <script src="{% static "js/jquery-2.2.3.min.js" %}"></script>
    <!--/aos -->
    <script src="{% static "js/aos.js" %}"></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            duration: 1000
        });

    </script>
    <!--//aos -->
    <!--/counter-->
    <script src="{% static "js/counternew.js" %}"></script>
    <!--//counter-->
    <!--/ start-smoth-scrolling -->
    <script src="{% static "js/move-top.js" %}"></script>
    <script src="{% static "js/easing.js" %}"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });

    </script>
    <script>
        $(document).ready(function() {
            /*
            						var defaults = {
            							  containerID: 'toTop', // fading element id
            							containerHoverID: 'toTopHover', // fading element hover id
            							scrollSpeed: 1200,
            							easingType: 'linear' 
            						 };
            						*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });

    </script>
    <!--// end-smoth-scrolling -->

    <!-- //js -->

    <script src="{% static "js/bootstrap.js" %}"></script>

</body>

</html>
