<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Portail décisionnel</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Slog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../static/css/portfolio.css">
    <link rel="stylesheet" href="../static/css/aos.css">
    <link href='../static/css/aos-animation.css' rel='stylesheet prefetch' type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700i" rel="stylesheet">
    <!-- //Fonts -->

</head>

<body>
    <!-- mian-content -->
    <div class="main-content" id="home">
        <!-- header -->
        <header class="py-1">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <h1>
                        <a class="navbar-brand" href="index.html"><i class="um6p" aria-hidden="true"></i></a>
                    </h1>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">


                    </div>
                </nav>
            </div>
        </header>
        <!-- //header -->
        <!-- banner-w3layouts -->
        <section class="banner-w3layouts">
            <div class="container">
                <div class="row banner-w3layouts-grids">
                    <div class="col-lg-8 sign-info" data-aos="fade-right">
                        <h3>MLP</h3>
                        <p class="para-sign mt-2 mb-4 text-center">Saisir les informations de l'étudiant</p>
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                            <div class="form-group">

                                <label>Nom et prénom*</label>
                                <div class="">
                                    <input placeholder="" name="name" type="text" required="" class="form-control h-50">
                                </div>
                            </div>
                            <div class="form-group">

                                <label>Années en échec*</label>
                                <div class="icon1">
                                    <select placeholder="" name="echec" required="" class="form-control myinput" style="background-color: #0c57e1">
                                        <option value="">--ECHEC--</option>
                                        <option value="1">1 ans</option>
                                        <option value="2">2 ans</option>
                                        <option value="3">3 ans</option>
                                        <option value="4">4 ans et plus</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">

                                <label>Niveau scolaire du père*</label>
                                <div class="icon2">
                                             <select placeholder="" name="echec" required="" class="form-control myinput">
                                         <option value="">--Niveau scolire--</option>
                                        <option value="0">illettré</option>
                                        <option value="1">primaire</option>
                                        <option value="2">Collège</option>
                                        <option value="3">lycée</option>
                                        <option value="3">Etude supérieur</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">

                                <label>Niveau scolaire de la mère*</label>
                                 <div class="icon2">
                                             <select placeholder="" name="echec" required="" class="form-control myinput">
                                         <option value="">--Niveau scolire--</option>
                                        <option value="0">illettré</option>
                                        <option value="1">primaire</option>
                                        <option value="2">Collège</option>
                                        <option value="3">lycée</option>
                                        <option value="4">Etude supérieur</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">

                                <label>Relation Familiale*</label>
                                 <div class="icon2">
                                             <select placeholder="" name="echec" required="" class="form-control myinput">
                                         <option value="">--Relation familiale--</option>
                                        <option value="1">Très mauvaise</option>
                                        <option value="2">Mauvaise</option>
                                        <option value="3">Moyenne</option>
                                        <option value="4">Bonne</option>
                                        <option value="5">Excellente</option>
                                    </select>
                                </div>
                            </div>
                             <div class="form-group">

                                <label>Absences*</label>
                                 <div class="icon2">
                                             <select placeholder="" name="echec" required="" class="form-control myinput">
                                         <option value="">--Absences--</option>
                                        <option value="1">Inférieur à 15 </option>
                                        <option value="2">Entre 15 et 16</option>
                                        <option value="3">Entre 16 et 17</option>
                                        <option value="4">Entre 17 et 18</option>
                                        <option value="5">Supérieur à 18</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Travail de la mère*</label>
                                 <div class="icon2">
                                        <select placeholder="" name="echec" required="" class="form-control myinput">
                                       <option value="">--Travail de la mère--</option>
                                        <option value="1">Professeur </option>
                                        <option value="2">Santé</option>
                                        <option value="3">Services publique</option>
                                        <option value="4">à la maison</option>
                                        <option value="5">Autres</option>
                                    </select>
                                </div>
                            </div>

                            </div>
                            <div class="col-lg-6">

                            <div class="form-group">

                                <label>Les heures passées à l'éxterieur*</label>
                                <div class="icon1">
                                     <select placeholder="" name="echec" required="" class="form-control myinput">
                                        <option value="">--Temps en extérieur-- </option>

                                        <option value="0">Très peu </option>
                                        <option value="1">Peu</option>
                                        <option value="2">Moyen</option>
                                        <option value="3">Beaucoup</option>
                                        <option value="4">Enorme</option>
                                    </select>
                                </div>
                            </div>
                                         <div class="form-group">

                                <label>les heures supplémentaires*</label>
                             <div class="icon2">
                                 <select placeholder="" name="echec" required="" class="form-control myinput">
                                     <option value=" " >--Heure Supplémentaires--</option>
                                        <option value="0">Non</option>
                                        <option value="1">Oui</option>

                                    </select>
                             </div></div>
                            <div class="form-group">

                                <label>Le temps libre*</label>
                                <div class="icon1">
                                     <select placeholder="" name="echec" required="" class="form-control myinput">
                                        <option value="">--Temps Libre-- </option>
                                        <option value="0">Très peu </option>
                                        <option value="1">Peu</option>
                                        <option value="2">Moyen</option>
                                        <option value="3">Beaucoup</option>
                                        <option value="4">Enorme</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">

                                <label>Consommation de l'Alcool*</label>
                                 <div class="icon2">
                                             <select placeholder="" name="echec" required="" class="form-control myinput">
                                         <option value="">--Consommation de l'Alcool--</option>
                                        <option value="1">Très peu</option>
                                        <option value="2">Peu</option>
                                        <option value="3">Moyenne</option>
                                        <option value="4">Beaucoup</option>
                                        <option value="5">Enorme</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">

                                <label>Etat de la santé*</label>
                                 <div class="icon2">
                                             <select placeholder="" name="echec" required="" class="form-control myinput">
                                         <option value="">--Etat de la santé--</option>
                                        <option value="1">Très mauvaise</option>
                                        <option value="2">Mauvaise</option>
                                        <option value="3">Moyenne</option>
                                        <option value="4">Bonne</option>
                                        <option value="5">Excellente</option>
                                    </select>
                                </div>
                            </div>
                                 <div class="form-group">

                                <label>Raison de la choix de l'école*</label>
                                 <div class="icon2">
                                             <select placeholder="" name="echec" required="" class="form-control myinput">
                                         <option value="">--Raison de la choix--</option>
                                        <option value="1">Proche de la maison</option>
                                        <option value="2">Réputation</option>
                                        <option value="3">Qualité des cours</option>
                                        <option value="4">Autres</option>
                                    </select>
                                </div>
                            </div>
                                            <div class="form-group">

                                <label>Travail du père*</label>
                                 <div class="icon2">
                                        <select placeholder="" name="echec" required="" class="form-control myinput">
                                       <option value="">--Travail du père--</option>
                                        <option value="1">Professeur </option>
                                        <option value="2">Santé</option>
                                        <option value="3">Services publique</option>
                                        <option value="4">à la maison</option>
                                        <option value="5">Autres</option>
                                    </select>
                                </div>
                            </div>
                            </div>
                            </div>
                            <input type="submit" value="Prédiction">
                        </form>

                    </div>
                    <div class="col-lg-4 banner-w3layouts-image pl-md-5">
                        <div class="effect-w3">
                            <img src="../static/images/img4.jpg" alt="" class="img-fluid image1">
                            <img src="../static/images/img4.jpg" alt="" class="img-fluid image2">
                            <img src="../static/images/img4.jpg" alt="" class="img-fluid image3">
                            <img src="../static/images/img4.jpg" alt="" class="img-fluid image4">
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- //banner-w3layouts -->
    </div>

    <!--footer -->

    <!-- //footer -->

    <!-- copy-w3layoutsright -->
    <div class="cpy-right text-center py-3">
        <p class="copy-w3layouts">© 2020 Développé par Abderahmane HAMDOUCHI & Houssam ZOUHRI
        </p>
    </div>
    <!-- //copy-w3layoutsright -->
    <!--model-forms-->

    <!--//Register-->
    <script src="../static/js/jquery-2.2.3.min.js"></script>
    <!--/aos -->
    <script src="../static/js/aos.js"></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            duration: 1000
        });

    </script>
    <!--//aos -->
    <!--/ start-smoth-scrolling -->
    <script src="../static/js/move-top.js"></script>
    <script src="../static/js/easing.js"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });

    </script>
    <script>
        $(document).ready(function() {
            /*
            						var defaults = {
            							  containerID: 'toTop', // fading element id
            							containerHoverID: 'toTopHover', // fading element hover id
            							scrollSpeed: 1200,
            							easingType: 'linear' 
            						 };
            						*/

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });

    </script>
    <!--// end-smoth-scrolling -->

    <!-- //js -->

    <script src="../static/js/bootstrap.js"></script>

</body>

</html>
